
<h1>Welcome to Project Two</h1>


<div>

<script type="text/javascript">
  <% if @current_user.present? %>
    var current_user_id = <%= @current_user.id %>
    var current_user_name = "<%= @current_user.name %>"
    var current_user_highest_score = "<%= @current_user.highest_score %>"
  <% end %>
</script>
<<<<<<< HEAD
<script type="text/javascript">
  (function (){
  var game = new Phaser.Game(960, 600, Phaser.AUTO, 'game'
  );
=======

<script>
(function () {
  var game = new Phaser.Game(960, 600, Phaser.AUTO, 'game');
>>>>>>> 01f647fb08c9872df26a71bd2fb115448b422e23

  game.state.add('Boot', Heist.Boot)
  game.state.add('Preloader', Heist.Preloader)
  game.state.add('MainMenu', Heist.MainMenu)
  game.state.add('LevelOne', Heist.LevelOne)

  game.state.start('Boot')

})();

</script>

</div>
