<h1>Welcome to Project Two</h1>
<p><img src="https://media.giphy.com/media/11YAyUOnpiv6tq/giphy.gif" alt="Yay" /></p>
hello


<script type="text/javascript">
  <% if @current_user.present? %>
    console.log('hello')
    var current_user_id = <%= @current_user.id %>
    var current_user_name = "<%= @current_user.name %>"
  <% end %>
</script>
