
<h1>Welcome to Project Two</h1>


<div>

<script type="text/javascript">
  <% if @current_user.present? %>
    console.log('hello')
    var current_user_id = <%= @current_user.id %>
    var current_user_name = "<%= @current_user.name %>"
  <% end %>
</script>

</div>
